<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Cotizaciones Personales</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <header><a href="/">Cotizaciones Personales</a><a href="#">Logout</a></header>
    <div class="container">
        <nav>
            <ul>
                <li><a class="nav-item" asp-page="/Admin/Index">Dashboard</a></li>
                <li><a class="nav-item" asp-page="/Admin/AddClientes">Agregar Cliente</a></li>
                <li><a class="nav-item" asp-page="/Admin/AddServicios">Agregar Servicios</a></li>
                <li><a class="nav-item" asp-page="/Admin/AddDetalleServicios">Agregar Detalle Servicios</a></li>
            </ul>
        </nav>
        <main>@RenderBody()</main>
    </div>
    @RenderSection("Scripts", false);
</body>
</html>