@page
@model CotizacionesPersonales.Pages.AddPageModel

@{
    ViewData["Title"] = "Agregar cliente";
}

<h3> Agregar Cliente </h3>

<form method="post">

    <label asp-for="AIM.NombreCliente"></label>
    <input asp-for="AIM.NombreCliente"/>
    <span  asp-validation-for="AIM.NombreCliente"></span>
    <br/>

    <label asp-for="AIM.TelefonoCliente"></label>
    <input asp-for="AIM.TelefonoCliente"/>
    <span  asp-validation-for="AIM.TelefonoCliente"></span>
    <br/>

    <label asp-for="AIM.DireccionCliente"></label>
    <input asp-for="AIM.DireccionCliente"/>
    <span  asp-validation-for="AIM.DireccionCliente"></span>
    <br/>

    <label asp-for="AIM.EmailCliente"></label>
    <input asp-for="AIM.EmailCliente"/>
    <span  asp-validation-for="AIM.EmailCliente"></span>
    <br/>

  <input type="submit" value="Save"/>

</form>