@page
@model CotizacionesPersonales.Pages.ViewServicioDetallePageModel

@{
    ViewData["Title"] = "Detalle de Servicios";
}

<h3> Detalle servicio </h3>

<table>
    <caption>@Model.Servicio.NombreServicio</caption>
    <thead>
        <tr>
            <th>ID Detalle Servicio </th>
            <th>Descripcion </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var servicioDetalles in Model.ServicioDetalle)
    {
        <tr>
            <td> @servicioDetalles.ServicioDetalleID </td>
            <td> @servicioDetalles.DescripcionDetalleServicio </td>
            <td> <a asp-page = "/Admin/AddDetalleServicios"
            asp-route-id = "@servicioDetalles.ServicioDetalleID" > Editar </a> 
             </td>
        </tr>
    }
    </tbody>
</table>